
.ourCoffeeSection {
  height: 824px;
  background: #C06936;
  padding: 80px;
  color: white;
}

.ourCoffeeUpContainer{
  display: flex;
  flex-direction: row;
}

.leftBox{
  display: flex;
  width: 34%;
}

.rightBox{
  width: 66%;
}

.mugIcon{
  width: 148px;
  height: 148px;
}

.mugIconDescription{
  margin-top: 64px;
  margin-left: 32px;
font-family: Sansita;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
color: #FFCC3A;
}

.ourCoffeeTitle{
font-family: Sansita;
font-size: 64px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0em;
text-align: right;
margin-bottom: 64px;
}

.ourCoffeeText{
margin-right: 48px;
font-family: Anonymous Pro;
font-size: 32px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
}

.ourCoffeeDownContainer{
  display: flex;
  
}

.paperCupBox{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 3px;
  align-items: center;
}

.paperCupIcon{
  width: 160px;
  height: 160px;
}

.paperCupIconDescription{
  margin-top: 16px;
font-family: Sansita;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
color: #FFCC3A; 
}

.cupBox{
  margin-top: 32px;
}

.cupIcon{
  width: 160px;
  height: 160px;
}

.cupIconDescription{
  margin-bottom: 16px;
  margin-left: 40px;
font-family: Sansita;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
color: #FFCC3A; 
}