
.ourCoffeeContainer {
  height: 960px;
  background: #C06936;
  padding: 80px;
  color: white;
}

.ourCoffeeTitle{
font-family: Sansita;
font-size: 64px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0em;
text-align: right;
}
