$mobile: '360px';
$tablet: '744px';
$desktop: '1440px';

$min_mobile: '360px';
$max_mobile: '743p0x';
$min_tablet: '744px';
$max_tablet: '1439px';
$min_desktop: '1440px';
$max_desktop: '1365px';
$min_desktop_large: '1366px';