.aboutUsContainer {
  height: 960px;
 background: #C06936;
 color: white;
 padding: 0 5.56%;
 h2{
  font-family: Sansita;
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 64px;
  line-height: 140.1%;
 }
 p{
  font-size: 32px;
  line-height: 140.1%;
  text-transform: uppercase;
 }
}